<%- include('../layouts/adminheader.ejs') %>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Dashboard</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Image</th>
                    <th>Delete</th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tbody>
                <%
                    if(posts.length > 0){
                        var i = 1;
                        posts.forEach((post)=>{
                            %>
                            <tr>
                                <td><%= i++; %></td>
                                <td><%= post.title %></td>
                                <td><%= post.content %></td>
                                <td>
                                    <img src="<%= post.image %>" alt="<%= post.image %>" height="100px" width="auto">
                                </td>
                                <td>
                                    <a href="#" class="btn btn-danger deletePost" data-id="<%= post._id %>">Delete</a>
                                </td>
                                <td>
                                    <a href="/edit-post/<%= post._id %>" class="btn btn-warning " >Edit</a>
                                </td>
                            </tr>
                            <%
                        })
                    }else{
                        %>
                        <tr>
                            <td colspan="4">No Post Found!</td>
                        </tr>
                        <%
                    }
                %>
            </tbody>
        </table>
    </div>


    <script>
        $(document).ready(function(){
            $('.deletePost').click(function(){
                let postId = $(this).attr('data-id')
                let obj = $(this)

                $.ajax({
                    url:"/Delete-Post",
                    type:"POST",
                    data:{ id:postId},
                    success:function(res){
                        if(res.success == true){
                            $(obj).parent().parent().remove()
                            alert(res.msg)
                        }
                        else{
                            alert(res.msg)
                        }
                    }
                })
            })
        })
    </script>

<%- include('../layouts/adminfooter.ejs') %>